@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  text-align: center;
  background-color: white;
  margin:0,auto;
  color:lightgray;
  font-family: "Open Sans", serif;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f8f5f5;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 25px rgb(138, 133, 133) inset;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #8d858d;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.container{
  border-radius: 10px;
  width: 90%;
  background-color: rgb(41, 40, 40);
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,75.75);
  margin-top: 5%;
  flex-wrap: flex;
}


